#md-editor {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 50% !important;
    height: 100vh !important;
    textarea {
        box-sizing: border-box;
        border: none;
        width: 100%;
        min-height: 100%;
        padding: 1em;
        &:focus {
            outline: none;
        }
    }
}
