@import "~perfect-scrollbar/src/css/main";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.app-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    //overflow: hidden;
}

.v-divider {
    position: absolute;
    width: 2px;
    background: #9ad9ff;
    left: 50%;
    top: 0;
    bottom: 0;
    margin: auto;
}

/**
   自定义ps滚动条的样式
 */
.ps-theme-med {
    @include ps-container(map-merge($ps-theme-default, (
        rail-default-opacity: $ps-rail-hover-opacity,    // 使滚动条始终显示。默认hover才显示
        scrollbar-y-width: $ps-scrollbar-y-hover-width,  // 使滚动条不hover与hover一样大
    )));
}
